* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #2a2a2a;
  color: #fff;
  font-size: 1rem;
}

a {
  color: inherit;
}

.container {
  max-width: 600px;
  margin: auto;
  padding: 48px 32px;
}

header {
  padding: 2rem 0;
}


.todo-list__todos {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.todo-list__todos li {
  background-color: #3c3c3c;
  padding: 1.5em;
  list-style: none;
  border-radius: .25em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}

.todo-list__composer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.todo-list__composer input, .todo-list__composer button {
  color: #fff;
  border: 1px solid #fff;
  background-color: transparent;
  padding: .75rem;
  border-radius: 5px;
  font-size: 1rem;
}

.todo-list__composer input {
  flex-grow: 1;
}

.todo-list__composer input:focus {
  border: 1px solid #00ff00;
  outline: none;
}

.todo-list__composer button {
  cursor: pointer;
}

.todo-list__todo > label {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  cursor: pointer;
}

.todo-list__todo-checkbox-container {
  position: relative;
  display: flex;
  align-items: center;
}

.todo-list__todo input[type="checkbox"] {
  visibility: hidden
}

.todo-list__todo-checkbox {
  position: absolute;
  left: 0;
  top: -2;
  width: 24px;
  height: 24px;
  border: 1px solid #FFF;
  border-radius: 50%;
}

/* checkmark */
.todo-list__todo-checkbox::after {
  content: "";
  position: absolute;
  left: 5px;
  top: 6px;
  width: 12px;
  height: 6px;
  border: 2px solid #fff;
  border-top: none;
  border-right: none;
  transform: rotate(-45deg);
  opacity: 0;
}

.todo-list__todo input[type="checkbox"]:checked + .todo-list__todo-checkbox {
  background-color: #0ba95b;
  border-color: #0ba95b;
}

.todo-list__todo input[type="checkbox"]:checked + .todo-list__todo-checkbox::after {
  opacity: 1;
}


.todo-list__todo > label:has(input[type="checkbox"]:checked) > .todo-list__todo-task {
  text-decoration: line-through;
  color: #999;
}

.todo-list__todo > label:has(input[type="text"]) {
  flex-grow: 1;
}

.todo-list__todo-task, .todo-list__todo-edit-task-input {
  width: 100%;
  padding: .25em;
  background-color: transparent;
  border: 1px solid;
  border-radius: .25em;
  font-size: 1rem;
  color: #fff;
}

.todo-list__todo-task {
  border-color: transparent;
}

.todo-list__todo-edit-task-input {
  border-color: #fff;
}

.todo-list__todo-buttons-container {
  display: flex;
  gap: 1.25rem;
}

/* edit, delete, save, cancel buttons */
.todo-list__todo button {
  background: none;
  border: none;
  font-size: 1rem;
  color: #fff;
  text-decoration: underline;
  cursor: pointer;
}

footer {
  padding: 2rem 0;
  text-align: center;
  font-size: 0.875rem;
  color: #eee;
}