:root {
  --primary-color: #0ba95b;
  --dark-background-color: #2a2a2a;
  --light-background-color: #3a3a3a;
  --dark-text-color: #999;
  --light-text-color: #eee;
  --secondary-text-color: #999;
  --border-color: #ddd;
  --accent-color: #0ba95b;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--dark-background-color);
  color: var(--light-text-color);
  font-size: 1rem;
}

a {
  color: inherit;
}

.container {
  max-width: 600px;
  margin: auto;
  padding: 24px;
}

header {
  margin-bottom: 1rem;
}

/* the main ul */
ul.todo-list__todos {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

ul.todo-list__todos li {
  list-style: none;
  padding: 0;
  border-radius: .2em;
}

ul.todo-list__todos li:not(:first-child) {
  background-color: var(--light-background-color);
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}

form.todo-list__composer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: .5rem;
}

form.todo-list__composer input, .todo-list__composer button {
  color: var(--light-text-color);
  border: 1px solid var(--border-color);
  background-color: transparent;
  padding: 1rem;
  border-radius: .25em;
  font-size: 1rem;
}

form.todo-list__composer input {
  flex-grow: 1;
}

form.todo-list__composer input:focus {
  outline: none;
  border: 1px solid var(--accent-color);
}

form.todo-list__composer button {
  cursor: pointer;
}

li.todo-list__todo > label,
li.todo-list__todo > .todo-list__todo-buttons-container {
  display: flex;
  align-items: center;
  cursor: pointer;
}

li.todo-list__todo > label {   
  gap: .5rem;
}

li.todo-list__todo > .todo-list__todo-buttons-container {
  gap: 1rem;
}

.todo-list__todo-checkbox-container {
  position: relative;
}

/* hide the default checkbox */
li.todo-list__todo input[type="checkbox"] {
  visibility: hidden;
  position: absolute;
}

/* custom checkbox */
.todo-list__todo-checkbox {
  display: block;
  width: 24px;
  height: 24px;
  border: 1px solid #FFF;
  border-radius: 50%;
}

/* checkmark */
.todo-list__todo-checkbox::after {
  content: "";
  position: absolute;
  left: 5px;
  top: 6px;
  width: 12px;
  height: 6px;
  border: 2px solid var(--border-color);
  border-top: none;
  border-right: none;
  transform: rotate(-45deg);
  opacity: 0; /* hide the checkmark by default */
}

li.todo-list__todo input[type="checkbox"]:checked + .todo-list__todo-checkbox {
  background-color: var(--accent-color);
  border-color: var(--accent-color);
}

/* show the checkmark when the default checkbox is checked */
li.todo-list__todo input[type="checkbox"]:checked + .todo-list__todo-checkbox::after {
  opacity: 1;
}


li.todo-list__todo > label:has(input[type="checkbox"]:checked) > .todo-list__todo-task {
  text-decoration: line-through;
  color: var(--dark-text-color);
}

li.todo-list__todo > label:has(input[type="text"]) {
  flex-grow: 1;
}

.todo-list__todo-task, 
.todo-list__todo-edit-task-input {
  width: 100%;
  padding: .25em;
  background-color: transparent;
  border: 1px solid;
  border-radius: .25em;
  font-size: 1rem;
  color: var(--light-text-color);
}

.todo-list__todo-task {
  border-color: transparent;
}

.todo-list__todo-edit-task-input {
  border-color: var(--border-color);
}

/* edit, delete, save, cancel buttons */
li.todo-list__todo button {
  background: none;
  border: none;
  font-size: 1rem;
  color: var(--light-text-color);
  text-decoration: underline;
  cursor: pointer;
}

footer {
  padding: 2rem 0;
  text-align: center;
  font-size: 0.875rem;
  color: var(--light-text-color);
}