* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #2a2a2a;
  color: #fff;
  font-size: 1rem;
}

a {
  color: inherit;
}

.container {
  max-width: 600px;
  margin: auto;
  padding: 48px 32px;
}

header {
  padding: 2rem 0;
}

.todo-list__todos {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.todo-list__todos li {
  background-color: #3c3c3c;
  padding: 1.5em;
  list-style: none;
  border-radius: .25em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.todo-list__composer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.todo-list__composer input, .todo-list__composer button {
  color: #fff;
  border: 1px solid #fff;
  background-color: transparent;
  padding: .75rem;
  border-radius: 5px;
  font-size: 1rem;
}

.todo-list__composer input {
  flex-grow: 1;
}

.todo-list__composer input:focus {
  border: 1px solid #00ff00;
  outline: none;
}

.todo-list__composer button {
  cursor: pointer;
}

.todo-list__todo label {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.todo-list__todo-checkbox {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.todo-list__todo-checkbox:checked + .todo-list__todo-task {
  text-decoration: line-through;
  color: #999;
}

.todo-list__todo-task {
  padding: .25em;
}

.todo-list__todo-edit-input {
  background-color: #2a2a2a;
  border: none;
  border-radius: .25em;
  font-size: 1rem;
  color: #fff;
  padding: .25em;
}

.todo-list__todo button {
  color: #fff;
  background: none;
  border: none;
  font-size: 1rem;
  cursor: pointer;
  text-decoration: underline;
  margin-left: 1rem;
}

footer {
  padding: 2rem 0;
  text-align: center;
  font-size: 0.875rem;
  color: #eee;
}